/* ------------------------------------------------------------------------
CSS Stylesheet - Taha Adamaly 
ECON30006 Data Science
--------------------------------------------------------------------------*/



/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppinswght@300&family=Poppins:wght@600");


body {
  background-color: #081521;
  max-width: 90%;
  margin: auto;

  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.bodyText {
  color: white;
  margin-bottom: -22px;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  font-weight: lighter;
  text-align: center;
}

/* -----------------------------------CONTENT IN HEADER---------------------------------------------*/

/* Flexbox container with header */
.hcontainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border: 3px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Data Science Title*/
header {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: rgb(19, 143, 242);
  font-size: 45px;
  margin-top: 10px;
  font-weight: bold;
}

/* Name and unit code */
h2 {
  color: white;
  font-size: 25px;
  margin-top: -35px;
  font-weight: lighter;
}

/* -----------------------------------END CONTENT IN HEADER-------------------------------------------*/



/* --------------------------------------CONTENT IN BODY----------------------------------------------*/

/* Flexbox container with home page graphs */
.bcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;;
  gap: 30px 30px;
  margin-top: 30px;
  border-style: solid;
  border-color: white;
  padding: 30px;
  border-radius: 25px;
}



.chart{
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  transition: padding 500ms, border-radius 500ms;
}

#chart1{
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  transition: padding 500ms, border-radius 500ms;
  width: 100%;
  min-width: 400px;
}


.chart:hover {
  border-color: rgb(224, 70, 8);
  padding: 35px;
  border-radius: 5px;
}

#chart1:hover {
  border-color: rgb(224, 70, 8);
  border-radius: 5px;
}

/*
.chart:focus {
  border-color: rgb(224, 70, 8);
  padding: 60px;
  border-radius: 5px;
}
*/

/* --------------------------------------END CONTENT IN BODY--------------------------------------------*/



footer {
    height: 100px;
}



/* --------------------------------------EXTRAS--------------------------------------------*/

/* Buttons on navigation bar */

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-text: black;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: rgb(17, 143, 242);
    --space: 1rem;
    --border-color: #081521;
  }
  
  * {
    box-sizing: border-box;
  }

  .multi-button {
    display: flex;
    width: 100%;
  }
  
  .multi-button button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid var(--border-color);
    color: var(--color-text);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    transition: flex-grow var(--duration) var(--ease);
  }
  /* CSS Stylesheet - TJA */
  .multi-button button + button {
    border-left: var(--border-size) solid var(--border-color);
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  /* CSS Stylesheet - TJA */
  .multi-button button:focus {
    outline: var(--border-size) solid var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }


/* Page Fade In */
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


