@import url("https://fonts.googleapis.com/css?family=Rubik");


body{

    background-color: #081521 ;
    max-width: auto;
    margin: auto;
}

h1{
    text-align: center;
    font-family: Rubik, sans-serif;
    color: #138ee8;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: Rubik, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    margin-top: -35px;
    margin-bottom: 50px;


}

.chart{
    background-color: white;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 10px;
    width: 33%;
    text-align: center;
    padding: 15px
}

.header1 {
    font-size: 50px;
    text-align: center;
}
